@import './base.css';

body{
    font-family: var(--mainFont);
    background-color: #eee;
    box-sizing: border-box;
}

/*start navbar*/

.header{
    background-color: #ffffff;
    padding: 15px 0;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.4);
}
.header .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.header .logo a{
    font-weight: 700;
    color: var(--mainColor);
}
.header .navbar ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.navbar ul li a{
    color: #101928;
    font-size: 16px;
}
.navbar ul .active{
    font-weight: bold;
}
.menu{
    display: none;
}
.header .auth{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header .auth .login,.header .auth .register{
    
    padding: 10px 40px;
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 10px;
    text-align: center;
    font-family: var(--subColor);
    font-size: 18px;
    font-weight: bold;
}
.header .auth .register{
    background-color: var(--mainColor);
    color: #fff;
    padding: 10px 30px;
}
/*responsive for header*/
@media screen and (max-width:1150px) {

    .header .navbar,
    .header .auth{
        display: none;
    }
    .menu{
        display: block;
        order: 1;
    }
}

@media screen and (max-width:568px) {
    .container{
        width: calc(100% - 70px);
        margin: auto;
    }
}

/*end navbar*/

/*start sections*/

/*start intro section */
.intro{
    padding: 50px 0;
}
.intro-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}
.intro-data p{
    color: var(--mainColor);
}
.intro-data p span{
    font-weight: bold;
}
.intro-data h1{
    font-weight: bold;
    font-size: 64px;
}
.intro-data h1 span{
    color: var(--mainColor);
}
.intro-data .description{
    color: #969696;
}

.intro-data .auth{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.intro-data .auth .register{
    padding: 10px 40px;
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    text-align: center;
    font-family: var(--subColor);
    font-size: 18px;
    font-weight: bold;
    background-color: var(--mainColor);
    color: #fff;
}
.intro-img{
    width: 50%;
}
.intro-img img{
    width: 90%;
}

@media screen and (max-width:992px) {
    .intro .row{
        flex-direction: column;
        gap: 50px;
    }
}
@media screen and (max-width:890px) {
    .intro-data{
        gap: 20px;
    }
    .intro-data h1{
        font-size: 40px;
    }
}
@media screen and (max-width:620px) {
    .intro-data{
        gap: 20px;
    }
    .intro-data h1{
        font-size: 30px;
    }
}
@media screen and (max-width:420px) {
    .intro-data{
        gap: 20px;
    }
    .intro-data h1{
        font-size: 20px;
    }
    .intro p{
        font-size: 13px;
    }
}

/*end intro section */


/*start testimonial*/
.testimonials{
    padding: 50px 0;
}
.testimonials h2{
    text-align: center;
    font-size: 40px;
    color: #0D1222;
    font-weight: bold;
}
.testimonials .row{
    padding: 40px 0;
}
.testimonial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    width: calc((100% - 40px) / 2);
    box-sizing: border-box;
    padding: 40px;
    background-color: #fff;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.4);
}
.testimonial .user-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.testimonial .user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testimonial .user-info .user-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}
.testimonial .user-info .user-data span,
.testimonial blockquote q{
    font-size: 14px;
    color: #969696;
}
.testimonial .stars i{
    color: #F1CC4A;

}

@media screen and (max-width:768px){

    .testimonial{
        width: 100%;
    }
    .testimonial1{
        margin-bottom: 30px;
    }
   
}
@media screen and (max-width:400px){

    .testimonials h2{
        font-size: 30px;
    }
}

/*end testimonial*/

/*end sections*/





/* start footer*/
.footer{
    background-color: #393E46;
    padding: 50px 0;
}
.footer .footer-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    width: 31%;
    font-family: var(--mainFont);
}

.footer .footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.footer .footer-start .logo a{
    color: #fff;
    font-weight: 300;
}
.footer .footer-start p{
    color: #F4F4F4;
    font-size: 14px;
}
.footer .footer-start .icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.footer .footer-start .icons :hover{
    cursor: pointer;
}
.footer .footer-start .icons .facebook{
    border: 1px solid #fff;
    padding: 3px;
}
.footer .footer-end{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.footer .footer-end .footer-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.footer .footer-end .footer-item h2{
    font-size: 18px;
    font-weight: bold;
    color: #fff;

}
.footer .footer-end .footer-item nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.footer .footer-end .footer-item nav a{
    color: #F4F4F4;
    font-size: 14px;
}

/*responsive for footer*/
@media screen and (max-width:1200px){

    .footer .row{
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
    }
}



@media screen and (max-width:800px){

    .footer .footer-end .footer-item {
        width: 30%;
    }

    .footer .footer-start{
        width: 50%;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width:460px){

    .container{
        width: calc(100% - 20px);
        margin: auto;
    }
}

@media screen and (max-width:400px){

    .footer .footer-start .logo a{
        font-size: 14px;
    }
    .footer .footer-start .icons{
        width: 50%;
    }
    .footer .footer-end .footer-item {
        width: 50%;
    }
}
/* end footer*/






