@import './base.css';

body{
    font-family: var(--mainFont);
    background-color: #eee;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
}

/*start navbar*/

.header{
    background-color: #ffffff;
    padding: 15px 0;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.4);
}
.header .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.header .logo a{
    font-weight: 700;
    color: var(--mainColor);
}
.header .navbar ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.navbar ul li a{
    color: #101928;
    font-size: 16px;
}
.navbar ul .active{
    font-weight: bold;
}
.menu{
    display: none;
}
.header .auth{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header .auth .login,.header .auth .register{
    
    padding: 10px 40px;
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 10px;
    text-align: center;
    font-family: var(--subColor);
    font-size: 18px;
    font-weight: bold;
}
.header .auth .register{
    background-color: var(--mainColor);
    color: #fff;
    padding: 10px 30px;
}
/*responsive for header*/
@media screen and (max-width:1150px) {

    .header .navbar,
    .header .auth{
        display: none;
    }
    .menu{
        display: block;
        order: 1;
    }
}

@media screen and (max-width:568px) {
    .container{
        width: calc(100% - 70px);
        margin: auto;
    }
}

/*end navbar*/

/*start sections*/

/*start intro section */
.intro{
    padding: 50px 0;
    background-color: #F5F5F5;
}
.intro-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}
.intro-data p{
    color: var(--mainColor);
}
.intro-data p span{
    font-weight: bold;
}
.intro-data h1{
    font-weight: bold;
    font-size: 64px;
}
.intro-data h1 span{
    color: var(--mainColor);
}
.intro-data .description{
    color: #969696;
}

.intro-data .auth{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.intro-data .auth .register{
    padding: 10px 40px;
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    text-align: center;
    font-family: var(--subColor);
    font-size: 18px;
    font-weight: bold;
    background-color: var(--mainColor);
    color: #fff;
}
.intro-img{
    width: 50%;
}
.intro-img img{
    width: 90%;
}

@media screen and (max-width:992px) {
    .intro .row{
        flex-direction: column;
        gap: 50px;
    }
}
@media screen and (max-width:890px) {
    .intro .row{
        align-items: center;
    }
    .intro-data{
        gap: 30px;
        width: calc((100% - 50px));
    }
    .intro-data h1{
        font-size: 30px;
    }
    .intro p{
        font-size: 18px;
    }
    .intro-data .auth{
        gap: 20px;
    }
    .intro .intro-img {
        width: 80%;
    }
}

@media screen and (max-width:420px) {
    .intro .row{
        align-items: center;
    }
    .intro-data{
        gap: 30px;
        width: calc((100% - 50px));
    }
    .intro-data h1{
        font-size: 20px;
    }
    .intro p{
        font-size: 13px;
    }
    .intro-data .auth{
        gap: 10px;
    }
    .intro .intro-img {
        width: 100%;
    }
}
/*end intro section */

/*start learn section*/
.learn{
    padding: 100px 0;
    background-color: #fff;
}
.learn .about-learn{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.learn .about-learn span{
    color: var(--mainColor);
    font-size: 14px;
}
.learn .about-learn h2{
    font-weight: bold;
    font-size: 28px;
}
.learn .about-learn p{
    color: #969696;
}
.learn .courses-learn{
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--mainColor);
    padding: 25px 10px;
    border-radius: 10px;
}
.learn .courses-learn h3{
    color: #eee;
}
.learn .courses-learn p{
    color: #DDDDDD
}
.learn .courses-learn img{
    width: 30px;
    border-radius: 50%;
    background-color: #eee;
    padding: 10px;
}
@media screen and (max-width:1120px){

    .learn .row{
        flex-direction: column;
        align-items:center;
        gap: 30px;
    }
    .learn .courses-learn{
        width:calc(100% / 2);

    }
    .learn .about-learn{
        width: calc(100% - 50px);
        gap: 30px;
    }
    .learn .about-learn h2{
        font-size: 26px;
    }
    .learn .about-learn p{
        font-size: 18px;
    }
    .learn .about-learn span{
        font-size: 16px;
    }
    .learn .courses-learn img{
        width: 20px;
    }
}
@media screen and (max-width:890px){

    .learn .about-learn{
        width: calc(100% - 50px);
        gap: 30px;
    }
    .learn .about-learn h2{
        font-size: 24px;
    }
    .learn .about-learn p{
        font-size: 18px;
    }
    .learn .about-learn span{
        font-size: 16px;
    }
    .learn .courses-learn img{
        width: 20px;
    }
}
@media screen and (max-width:420px){

    .learn .about-learn{
        width: calc(100% - 50px);
        gap: 30px;
    }
    .learn .about-learn h2{
        font-size: 20px;
    }
    .learn .about-learn p{
        font-size: 13px;
    }
    .learn .about-learn span{
        font-size: 13px;
    }
    .learn .courses-learn img{
        width: 20px;
    }
}
/*end learn section*/

/*start view section*/
.views{
    background-color: var(--mainColor);
    padding: 50px 0;
}
.views .views-img{
    width: 50%;
}
.views .views-img img{
    width: 90%;
}
.views .views-information{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;  
}
.views-information span{
    color: #F0C932;
}
.views-information h2{
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}
.views-information p{
    font-size: 18px;
    color: #DDDDDD;
}
.views .people-views,
.views .user,
.views .course{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.views .people-views span:last-of-type,
.views .user span:last-of-type,
.views .course span:last-of-type{
    color: #DDDDDD;
    font-size: 14px;
}
@media screen and (max-width:700px){

    .views .row{
        flex-direction: column;
        gap: 30px;
    }
}
@media screen and (max-width:580px){

    .views-information span{
        font-size: 12px;
    }
    .views-information h2{
        font-size: 20px;
    }
    .views-information p{
        font-size: 10px;
    }
    .views .row1{
        justify-content: flex-start;
        gap: 40px;
    }
}
@media screen and (max-width:420px){
    .views .views-img{
        width: 80%;
    }
    .views-information .row1{
        align-self: center;
    }
    .views-information h2{
        font-size: 20px;
    }
    .views-information p{
        font-size: 13px;
    }
    .views-information span{
        font-size: 13px;
    }
}
/*end view section*/

/*start courses section */
.courses-section{
    background-color: #F5F5F5;
    padding: 50px 0;
}
.courses-section .row{
    align-items: flex-start;
}
.courses-section .courses{  
    display: flex;
    flex-wrap: wrap;
    gap:40px; 
}
.courses-section .course-details{
    width: 40%;
}
.courses .course-card{
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0 0;
}
.courses .course-photo{
    position: relative;

}
.courses .course-info{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content:space-between;
    align-items: flex-start;
    padding: 20px 0;
    
}
.courses .course-info span:nth-child(1){
    background-color: var(--mainColor);
    color: #fff;
    padding: 12px;
    filter: drop-shadow(2px 4px 6px black);
}
.courses .course-info span:nth-child(2){
    align-self: flex-end;
    padding-right: 10px;
    color: #fff;
    font-weight: bold;
}
.courses .course-descrption{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.course-descrption .row1,
.course-descrption .row2{
    padding: 0 10px;
}
.course-descrption .row1 span:first-of-type{
    font-weight: bold;
    font-size: 21px;
}
.course-descrption .row1 span:last-of-type{
    font-size: 12px;
    color: var(--mainColor);
}
.course-descrption .row2{
    justify-content: flex-start;
    gap: 30px;
}
.course-descrption .row2 span{
    font-size: 16px;
    color: #969696;
}
.courses-section .course-details{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 60px;
    box-sizing: border-box;
    padding: 0 40px;
}
.courses-section .course-details div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}
.courses-section .course-details div span{
    color: var(--mainColor);
    font-size: 14px;
}
.courses-section .course-details div h2{
    font-weight: bold;
    font-size: 28px;
}
.courses-section .course-details div p{
    color: #969696;
}
.courses-section .course-details div a{
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    text-align: center;
    font-family: var(--subColor);
    font-size: 18px;
    font-weight: bold;
    background-color: var(--mainColor);
    color: #fff;
    padding: 10px 30px;
    width: 80px;
}
@media screen and (max-width:1450px){

    .courses-section .row{
        flex-direction: column;
        align-items: center;
    }
    .courses-section .courses{
        order: 1;
        align-items: center;
        gap: 100px;
        
        padding: 30px 100px;
    }
}
@media screen and (max-width:890px){

    .courses-section .course-details{
        width: calc(100% - 50px);
    }
    .courses-section .course-details div span{
        font-size: 13px;
    }
    .courses-section .course-details div h2{
        font-size: 26px;
    }
    .courses-section .course-details div p{
        font-size: 18px;
    }
}

@media screen and (max-width:420px){

    .courses-section .course-details{
        width: calc(100% - 50px);
    }
    .courses-section .course-details div span{
        font-size: 13px;
    }
    .courses-section .course-details div h2{
        font-size: 20px;
    }
    .courses-section .course-details div p{
        font-size: 12px;
        
    }
    .courses-section .course-details{
        align-self: flex-start;
    }

}
/*end courses section */

/*start testimonial*/
.testimonials{
    padding: 50px 0;
    background-color: #F5F5F5;
}
.testimonials h2{
    text-align: center;
    font-size: 40px;
    color: #0D1222;
    font-weight: bold;
}
.testimonials .row{
    padding: 40px 0;
}
.testimonial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    width: calc((100% - 40px) / 2);
    box-sizing: border-box;
    padding: 40px;
    background-color: #fff;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.4);
    position: relative;
}
.testimonial .user-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.testimonial .user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testimonial .user-info .user-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}
.testimonial .user-info .user-data span,
.testimonial blockquote q{
    font-size: 14px;
    color: #969696;
}
.testimonial .stars i{
    color: #F1CC4A;

}
.testimonial::after{
    content: '';
    border-bottom:40px solid transparent;
    border-top:40px solid #F4F4F4;
    border-left:40px solid transparent;
    border-right:40px solid #F4F4F4;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width:768px){

    .testimonial{
        width: 100%;
    }
    .testimonials .row{
        flex-direction: column;
    }
    .testimonial1{
        margin-bottom: 30px;
    }
   
}
@media screen and (max-width:400px){

    .testimonials h2{
        font-size: 30px;
    }
}
/*end testimonial*/

/*end sections*/





/* start footer*/
.footer{
    background-color: #393E46;
    padding: 50px 0;
}
.footer .footer-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    width: 31%;
    font-family: var(--mainFont);
}

.footer .footer-start .logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.footer .footer-start .logo a{
    color: #fff;
    font-weight: 300;
}
.footer .footer-start p{
    color: #F4F4F4;
    font-size: 14px;
}
.footer .footer-start .icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.footer .footer-start .icons :hover{
    cursor: pointer;
}
.footer .footer-start .icons .facebook{
    border: 1px solid #fff;
    padding: 3px;
}
.footer .footer-end{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}
.footer .footer-end .footer-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.footer .footer-end .footer-item h2{
    font-size: 18px;
    font-weight: bold;
    color: #fff;

}
.footer .footer-end .footer-item nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.footer .footer-end .footer-item nav a{
    color: #F4F4F4;
    font-size: 14px;
}

/*responsive for footer*/
@media screen and (max-width:1200px){

    .footer .row{
        flex-direction: column;
        gap: 50px;
        align-items: flex-start;
    }
}



@media screen and (max-width:800px){

    .footer .footer-end .footer-item {
        width: 30%;
    }

    .footer .footer-start{
        width: 50%;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width:460px){

    .container{
        width: calc(100% - 20px);
        margin: auto;
    }
}

@media screen and (max-width:400px){

    .footer .footer-start .logo a{
        font-size: 14px;
    }
    .footer .footer-start .icons{
        width: 50%;
    }
    .footer .footer-end .footer-item {
        width: 50%;
    }
}
/* end footer*/